body {
    background-color: rgb(253, 251, 251) ;
    margin: 0;
}
header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 70px;
    left: 0;
    background-color: rgba(145, 156, 156, 0.3);

}
#minha_foto {
    border-radius: 50%;
    margin-left: 290px;
    margin-top: 80px;
    margin-bottom: 50px;
    object-fit: cover;
    width: 200px;
    
}
header, h1 {
    font-size: 35px;
    width: 0 100px;
    text-align: center;
    display: inline;
    color: rgb(80, 94, 95);
    font-family: 'Abril Fatface', cursive;
    font-family: 'Inconsolata', monospace;
    font-family: 'Playfair Display', serif;
    font-family: 'Trirong', serif;
}

h2 {
    font-size: 30px;
    color:rgb(202, 144, 72);
}
li {
    padding: 5px;
}
p {
    line-height: 30px;
    font-size: 16px;
}
.lado-esquerdo {
    float: left;
    width: 350px;
    margin-left: 80px;
}
.lado-direito {
    float: right;
    width: 200px;
    border-left: solid rgb(131, 131, 131);
    border-bottom: solid rgb(131, 131, 131);
    padding: 100px 20px;
    margin: 0px 0px 100px 2px;
}
#list1 {
    float: left;
    /* clear: left; */
    margin-left: 0px;
    margin-top: 126px;
    padding: 20px;
    border-radius:7px;
    background-color: rgb(234, 241, 234);
}
#imagem {
    border-bottom: solid rgb(131, 131, 131);
}
#list2 {
    float: right;
    margin-right: 0px;
    margin-top: 0px;
    margin-left: 20px;
    padding: 20px;
    border-radius:7px;
    background-color: rgb(234, 241, 234);

}

#imagem_color {
    width: 190px;
    margin-top: 115px;
    margin-left:3px;
}
#imagem_color2 {
    width: 195px;
    margin-top: 50px;
    margin-left:3px;
}
aside {
    background-color: rgb(255, 255, 255);
    color: rgb(141, 119, 70);
}
footer {
    clear: both;
    border-top: solid rgb(141, 140, 140);
    padding: 20px;
    text-align: center;
}
th {
    border: solid rgb(141, 140, 140);
    padding-top: 0;
    width: 300px;
    text-align: center;
}
table tr td {
    border: rgb(141, 140, 140) solid;
    padding-top: 0;
    text-align: center;
    
}
#pesquisa {
    text-align: center;
    color: rgb(202, 144, 72);
}
table {
    margin-left: 80px;
    background-color: rgb(247, 255, 247);'
    margin-bottom: 30px;'
}
#linkgit {
    border: solid red;
    margin-left: 350px;
}