body {
    background-color: rgb(253, 251, 251) ;
    margin: 0;
}
header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 70px;
    left: 0;
    background-color: rgba(10, 79, 136, 0.3);

}
#minha_foto {
    border-radius: 50%;
    margin-left: 600px;
    margin-top: 80px;
    margin-bottom: 50px;
    object-fit: cover;
    width: 240px;
    box-shadow: 0px 0px 12px 10px rgb(36, 30, 92);
    
}
header, h1 {
    font-size: 35px;
    width: 0 100px;
    text-align: center;
    display: inline;
    color: rgb(255, 255, 255);
    font-family: 'Abril Fatface', cursive;
    font-family: 'Inconsolata', monospace;
    font-family: 'Playfair Display', serif;
    font-family: 'Trirong', serif;
}

h2 {
    font-size: 40px;
    color:rgb(202, 144, 72);
}
li {
    padding: 5px;
}
p {
    line-height: 30px;
    font-size: 16px;
}
.lado-esquerdo {
    float: left;
    width: 350px;
    margin-left: 80px;
    padding-left: 300px;
    
}
.lado-direito {
    float: right;
    width: 200px;
    border-left: double rgb(131, 131, 131);
    border-bottom: double rgb(131, 131, 131);
    border-width: 8px;
    padding: 100px 40px;
    margin: 0px 0px 100px 2px;
}
#list1 {
    float: left;
    margin-left: -600px;
    margin-top: 700px;
    padding: 20px;
    border-radius:7px;
    background-color: rgb(234, 241, 234);
    font-size: 25px;
}
#imagem {
    border-bottom: solid rgb(131, 131, 131);
    background-image: url(imagens/fundo3.jpg);
    background-size: cover;
    background-position: center;
}
#list2 {
    float: right;
    margin-right: -160px;
    margin-top: 700px;
    margin-left: 20px;
    padding: 20px;
    border-radius:7px;
    background-color: rgb(234, 241, 234);
    font-size: 25px;

}

#imagem_color {
    width: 260px;
    margin-top: 140px;
    margin-left:560px;
}
#imagem_color2 {
    width: 260px;
    margin-top: 40px;
    margin-left: 560px;
}
aside {
    background-color: rgb(255, 255, 255);
    color: rgb(141, 119, 70);
}
footer {
    clear: both;
    border-top: solid rgb(209, 209, 209);
    padding: 20px;
    text-align: center;
    margin-top: 40px;
    background-color: rgb(24, 13, 59);
}
th {
    border: solid rgb(141, 140, 140);
    padding-top: 0;
    width: 400px;
    text-align: center;
    font-size: 30px;
    
}
table tr td {
    border: rgb(141, 140, 140) solid;
    padding-top: 0;
    text-align: center;
    font-size: 27px;
    
}
#pesquisa {
    text-align: center;
    color: rgb(202, 144, 72);
}
table {
    margin-left: 290px;
    background-color: rgb(255, 255, 255);
    margin-bottom: 30px;
}
#linkgit {
    border: solid red;
    margin-left: 350px;
}
#lado_esquerdo, p {
    font-size: 25px;
    text-align: left;
}
#tabela h3 {
    border: groove;
    margin-top: 80px;
    font-size: 55px;
    background-color: rgb(197, 214, 210);
}
#git {
    width: 55px;
}
#contato {
    border: groove;
    text-align: center;
    background-color: rgb(197, 214, 210);
    margin-bottom: 0;
}
.sombra:hover {
    filter: drop-shadow(0px 0px 15px rgb(14, 0, 214));
}
footer a {
    color: aliceblue;
    padding: 0 10%;
    font-size: 25px;
    text-decoration: none;
}
#img1, #img2, #img3 {
    padding: 0 8%;
}
