body {
    background-color: rgb(253, 251, 251) ;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(99, 193, 50, 0.3);
    padding: 0 420px;
    margin-left: 20px;

    


}
#minha_foto {
    border-radius: 50%;
    margin-left: 550px;
    margin-top: 140px;
    object-fit: cover;
    
}
h1 {
    font-size: 50px;
    width: 0 100px;
    display: inline;
    color: rgb(41, 75, 51);
    font-family: 'Inconsolata', monospace;
    font-family: 'Playfair Display', serif;
    font-family: 'Trirong', serif;;
}

h2 {
    font-size: 40px;
}
li {
    padding: 5px;
}
p {
    line-height: 30px;
    font-size: 25px;
}
.lado-esquerdo {
    float: left;
    width: 450px;
    border: red solid;
}
.lado-direito {
    float: right;
    width: 500px;
    border: solid red;
    margin: 0 0 0 200px;
}
footer {
   top: 500px;
}